.invoice {
    margin: 8px;
    padding: 8px;
    width: 10rem;
    height: 16rem;
    user-select: none;
}

.invoice:not(.disabled):hover {
    background-color: #f4f4f4;
    cursor: pointer;
}

.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}